<div id="<%= dom_id event %>">
  <p>
    <strong>Activity:</strong>
    <%= event.activity %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= event.place %>
  </p>

  <p>
    <strong>Alone:</strong>
    <%= event.alone %>
  </p>

</div>
